# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
venv/
.env

# Data / RAG
data/chroma_db/
data/source_documents/
data/qa_documents/
data/model_config.json


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

project